<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lzyp.common">

    <application
        android:allowBackup="true"
        >
        <activity
            android:name="com.lzyp.common.activity.WebViewActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.lzyp.common.activity.ErrorActivity"
            />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            />

        <!--Android 7.0 拍照要用这个-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.lzyp.yyllzxc.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>


        <!--支付宝-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <!--支付宝 end-->


        <activity android:name="com.lzyp.common.activity.ChooseImageActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.lzyp.common.activity.ChooseVideoActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.lzyp.common.activity.ChooseLocationActivity"
            android:screenOrientation="portrait"
            />

        <activity
            android:name="com.lzyp.common.activity.PaypalDropInActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    </application>

</manifest>
